{% extends "base.html" %}

{% block announce %}
  For updates follow <strong>@DestrixApp</strong> on
  <a href="https://twitter.com/DestrixApp">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
  <br>
  For development follow <strong>@Wolfite_</strong> on
  <a href="https://twitter.com/Wolfite_">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}

{% block extrahead %}
  <meta property="og:image" content="https://cdn.wolfite.net/destrix_docs_og_img_large.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="960" />
  <meta property="og:image:height" content="540" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="theme-color" content="#000000">
{% endblock %}