{% extends "base.html" %}

{% block announce %}

  For updates follow <strong>@DestrixApp</strong> on
  <a href="https://twitter.com/DestrixApp" style="color: #5e8bde !important">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
  <br>
  For development follow <strong>@Wolfite_</strong> on
  <a href="https://twitter.com/Wolfite_" style="color: #5e8bde !important">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}

<!-- <meta property="og:image" content="https://cdn.wolfite.net/destrix_docs_og_img_large.png" /> -->
{% block extrahead %}
  <meta property="og:site_name" content="Destrix Docs" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="960" />
  <meta property="og:image:height" content="540" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="theme-color" content="#000000">
{% endblock %}

<!-- {--- if page and page.meta and page.meta.uses_custom_cover ---}  -->
{% block htmltitle %}
  {%- if page and page.meta -%} 

      {%- if page and page.title and not page.is_homepage -%} 
        <title>{{ page.title }} - {{ config.site_name }}</title> 
      {%- endif -%}

      {%- if page.is_homepage -%}
        <meta property="og:image" content="https://cdn.wolfite.net/destrix_docs_og_img_large.png" />
      {%- endif -%}

      {%- if page.meta.cmd_moderation -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-moderation.png" />
      {%- elif page.meta.cmd_utility -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-utility.png" />
      {%- elif page.meta.cmd_cosmetic -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-cosmetic.png" />
      {%- elif page.meta.cmd_customization -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-customization.png" />
      {%- elif page.meta.cmd_developer -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-developer.png" />
      {%- elif page.meta.cmd_fun -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-fun.png" />
      {%- elif page.meta.cmd_software -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-software.png" />
      {%- elif page.meta.cmd_standard -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/destrix-standard.png" />
      {%- elif page.meta.cmd_unknown -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/commands-destrix.png" />
      {%- elif page.meta.cmd_index -%}
        <meta property="og:image" content="https://cdn.wolfite.net/branding/destrix/commands_og/commands-destrix.png" />
      {%- else -%} 
        <meta property="og:image" content="https://cdn.wolfite.net/destrix_docs_og_img_large.png" />
      {%- endif -%} 
  {%- else -%}
    <meta property="og:image" content="https://cdn.wolfite.net/destrix_docs_og_img_large.png" />
  {%- endif -%} 
{%- endblock -%} 


{% block scripts %}
  <!-- Add scripts that need to run before here -->
  <!-- <script>
    const elements = document.querySelectorAll("li.md-tabs__item a[href*='plus']");
    console.log(elements);

    elements.forEach((element) => {
        element.classList.add('md--tabs--plus-inner')
    });
  </script>

  <script>
    const elements2 = document.querySelectorAll("li.md-tabs__item a[href='./'], li.md-tabs__item a[href='../']");
    if (window.location.pathname.includes('/plus')){
        elements2.forEach((element) => {
            element.classList.add('md--tabs--plus-inner-active')
        });   
    }
  </script> -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}